<a href="https://colab.research.google.com/github/jaymalak/HIMS/blob/master/HMIS_Pilot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Health Management Information System

Import Packages

In [0]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.pyplot import pie, axis, show
%matplotlib inline                                                              

import warnings                                                                 # Ignore warning related to pandas_profiling
warnings.filterwarnings('ignore') 
pd.set_option('display.max_columns', 100)                                       # Display all dataframe columns in outputs 
import glob
import io

Loading Data

In [10]:
from google.colab import files
uploaded = files.upload()

Saving pilot.csv to pilot.csv

In [0]:
##hm = pd.read_excel(io.BytesIO(uploaded['Health_01_03NOV2019.xlsx']))
#hm = pd.read_csv(io.BytesIO(uploaded['pilot.csv']))

hm= pd.read_csv('pilot.csv', sep=',', encoding='latin-1')

In [19]:
hm.head()

,FacilityCode,FacilityName,FTypeShort,FtypeCat,CityName,VisitCode,OrderID,PatCode,GENDER,Age,ServiceCode,ServiceName,ItemName,Result,Abnormal Flag,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,1,Manchar (100 Bed),SDH100,DH,Pune,1019129199,25S00190023134,1019146576,M,50,1676,Electrophoresis - Hb,Z11 zone,NaN,N,NaN,NaN,NaN,NaN,NaN
1,1,Manchar (100 Bed),SDH100,DH,Pune,1019129199,25S00190023134,1019146576,M,50,1676,Electrophoresis - Hb,ZD zone,NaN,N,NaN,NaN,NaN,NaN,NaN
2,1,Manchar (100 Bed),SDH100,DH,Pune,1019129210,25S00190023137,1019146587,M,60,1676,Electrophoresis - Hb,Z11 zone,NaN,N,NaN,NaN,NaN,NaN,NaN
3,1,Manchar (100 Bed),SDH100,DH,Pune,1019129210,25S00190023137,1019146587,M,60,1676,Electrophoresis - Hb,ZD zone,NaN,N,NaN,NaN,NaN,NaN,NaN
4,1,Manchar (100 Bed),SDH100,DH,Pune,1019129227,25S00190023155,1019146604,M,36,1676,Electrophoresis - Hb,Z11 zone,NaN,N,NaN,NaN,NaN,NaN,NaN

In [21]:
hm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 725732 entries, 0 to 725731
Data columns (total 20 columns):
FacilityCode     725732 non-null int64
FacilityName     725732 non-null object
FTypeShort       717236 non-null object
FtypeCat         725595 non-null object
CityName         725732 non-null object
VisitCode        725732 non-null object
OrderID          725732 non-null object
PatCode          725732 non-null object
GENDER           725658 non-null object
Age              725730 non-null object
ServiceCode      725732 non-null object
ServiceName      725732 non-null object
ItemName         725732 non-null object
Result           689558 non-null object
Abnormal Flag    711020 non-null object
Unnamed: 15      83682 non-null object
Unnamed: 16      2637 non-null object
Unnamed: 17      8 non-null object
Unnamed: 18      3 non-null object
Unnamed: 19      1 non-null object
dtypes: int64(1), object(19)
memory usage: 110.7+ MB

In [22]:
hm.describe()

        FacilityCode
count  725732.000000
mean     1352.821875
std       827.033274
min         1.000000
25%       681.000000
50%      1324.000000
75%      2017.000000
max      2997.000000

In [0]:
import pandas_profiling

In [33]:
profilehm = pandas_profiling.ProfileReport(hm)
##befprof = hm.profile_Report(title='Pandas Profiling before Data Preprocessing')
profilehm.to_file(output_file="D:\Jaymala\Innowave\Datascience Project\Health\output\befprocess.html")
hm.profileReport(title='Pandas Profiling before Data Preprocessing', style={'full_width':True})

TypeError: ignored